[submodule "quassel"]
	path = quassel
	url = https://github.com/esainane/quassel
[submodule "bitlbee"]
	path = bitlbee
	url = https://github.com/bitlbee/bitlbee
[submodule "checkinstall"]
	path = checkinstall
	url = http://asic-linux.com.mx/~izto/checkinstall/checkinstall.git/
[submodule "libbrine"]
	path = libbrine
	url = https://github.com/esainane/libbrine
[submodule "bento"]
	path = bento
	url = https://github.com/chef/bento
